.create-btn {
  margin-left: 5px;
}

.h-stack {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

strong {
  font-weight: bold !important;
}
