<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Milestone 1</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <% if (auth) {$ %>
    <link href="quill.snow.css" rel="stylesheet" />
    <% } %>
  </head>

  <body>
    <% if (auth) {$ %>
    <div id="editor"></div>
    <script src="bundle-auth.js"></script>
    <% } else { %>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Log in</span>
          <form action="/login" method="post" id="login-form">
            <div class="input-field">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" /><br /><br />
            </div>
            <div class="input-field">
              <label for="password">Password:</label>
              <input type="text" id="password" name="password" /><br /><br />
            </div>
          </form>
          <div class="card-action">
            <button class="btn" type="submit" form="login-form" value="Submit">
              Log in
            </button>
            <span><a href="/signup">Create an account instead</a></span>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
